[Unit]
Description=DB States Monitor script
After=syslog.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/home/scripts/libs
PIDFile=/var/run/states-monitor.py.pid
ExecStart=/home/scripts/daemons/states-monitor.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
